
.body {
width: 100%;
height: 1024px;
position: fixed;
}

.start {
position: absolute;
top: 317px;
left: 770px;
cursor: pointer;
display: inline-block;
text-align: center;
font-family: 'Irish Grover';
font-size: 120px;
color: black;
border-radius: 50%;
padding: 20px 40px;
background-color: #00c40d;
}


.start:hover {
    background-color: #27ae60;
    animation: pulsar 1.2s infinite ease-in-out;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}

.brusque-city {
position: absolute;
top: 88px;
left: 450px;
color: #000;
display: inline-block;
width: 1119px;
height: 161px;
font-family: 'Irish Grover';
font-size: 150px;
}

.pato-apontando-para-cima-remov-icon {
position: absolute;
top: 460px;
left: 920px;
width: 517px;
height: 456px;
object-fit: cover;
}

body {
margin: 0;
line-height: normal;
}

.fundo {
    width: 1920px;
    height: 1024px;
}

* {
    margin: 0;
    padding: 0;
}